.container
  = link_to new_article_path do
    = image_tag 'post.png'

  - @articles.each do |article|
    .card
      .card_detail
        = image_tag article.user.avatar_image, class: 'article_user_avatar'
        %div
          %p.article_name= article.author_name
          %p.post_time= post_time(article.created_at)
    -#   .card_content
    -#     .card_title
    -#       = article.title
    -#     .card_heart
    -#       = image_tag 'heart.svg'
    -#       %span= article.like_count
    -#   - if article.eyecatch.attached?
    -#     .card_image
    -#       = image_tag article.eyecatch