.container
    .user_top
        .return_page
            = link_to :back do
                = image_tag 'return.png'
        .account_name
            #{@user.account_name}
        %div.user_top_actionButton
            - if @user == current_user
                = link_to 'Edit', edit_profile_path
            - else
                - if current_user&.has_followed?(@user)
                    = link_to 'Unfollow', account_unfollows_path(@user), data: {method: 'post'}, class: 'user_top_actionButton_text'
                - else
                    = link_to 'Follow', account_follows_path(@user), data: {method: 'post'}, class: 'user_top_actionButton_text'
            -# - elseif current_user&.has_followed?(user)
            -#     %p フォロー済み
    %div
        = image_tag @user.avatar_image, class: 'avatar'
    .user_info
        .user_info_box
            %p.user_info_num 44
            %p.user_info_tag Posts
        .user_info_box
            %p.user_info_num 110
            %p.user_info_tag Followers
        .user_info_box
            %p.user_info_num 44
            %p.user_info_tag Followings
    .user_photos
        - @articles.each do |article|
            .slider
                - article.photos.each do |photo|
                    = image_tag photo, class: 'article_photo'