.container#account-show{data: {account_id: @user.id, current_user_id: current_user.id, follower_count: @follower_count}}
    .user_top
        %div.user_top_actionButton
            - if @user == current_user
                = link_to 'Edit', edit_profile_path, class: 'user_top_actionButton_text'
            - else
                %p.user_top_actionButton_text.unfollow-button.hidden Unfollow
                %p.user_top_actionButton_text.follow-button.hidden Follow
        .return_page
            = link_to :back do
                = image_tag 'return.png'
        .account_name
            #{@user.account_name}
    %div
        = image_tag @user.avatar_image, class: 'avatar'
    .user_info
        .user_info_box
            %p.user_info_num 44
            %p.user_info_tag Posts
        .user_info_box
            = link_to account_followers_path(@user) ,class: 'follower_link' do
                %p.user_info_num.follower_count #{@follower_count}
                %p.user_info_tag Followers
        .user_info_box
            = link_to account_followings_path(@user),class: 'following_link' do
                %p.user_info_num.following_count #{@following_count}
                %p.user_info_tag Followings
    .user_photos
        - @articles.each do |article|
            .slider
                - article.photos.each do |photo|
                    = image_tag photo, class: 'article_photo'

= javascript_pack_tag 'account'